<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Acme Widget Co</title>
	<link rel="stylesheet" href="styles/styles.css">
	<link rel="stylesheet" href="styles/normalize.css">
</head>

<body>
	<div class="main">
		<div class="header">
			<div><h1>Acme Widget Co</h1></div>
			<div>{% if basket|length == 0 %}Your Basket is empty{% endif %}</div>
		</div>
		<div class="msg-block">
			{% if totals.delivery == 0 %}
				Congratulations! You got free delivery!
			{% else %}
				You are ${{ (freeDelivery - totals.subtotal)|number_format(2, '.', ',') }} away from FREE delivery!
			{% endif %}
		</div>
		<div class="products-container">
			{% for product in products %}
			<div class="product">
				{#<div class="offer">Buy one, get the second half price!</div>#}
				<div class="product-name">{{product.getName}}</div>
				<div class="price">${{product.getPrice}}</div>
				<a href="add/{{product.getCode}}" class="add-button">Add to Basket</a>
			</div>
			{% endfor %}
		</div>
	</div>


	{% if basket|length > 0 %}

	<center>	
	<h2>Your Basket</h2>

	<table border=1 cellpadding=5>
		<tr>
			<td>Code</td>
			<td>Product</td>
			<td>Price</td>
			<td>Qty</td>
			<td>Item Subtotal (Full)</td>
			<td>Discount</td>
			<td>Item Subtotal (Discounted)</td>
			<td>&nbsp;</td>
		{% for product in basket %}
		<tr>
			<td>{{product.code}}</td>
			<td>{{product.name}}</td>
			<td align=right>${{product.price}}</td>
			<td align=right>{{product.qty}}</td>
			<td align=right>${{product.subtotalFull|number_format(2, '.', ',')}}</td>
			<td align=right>{% if product.discount > 0 %}{{product.discount}}{% endif %}</td>
			<td align=right>${{product.subtotalDiscounted|number_format(2, '.', ',')}}</td>
			<td><a href="/remove/{{product.code}}">Remove</a>
		</tr>		
		{% endfor %}

		<tr>
			<td colspan=6 align=right>Subtotal</td>
			<td>${{totals.subtotal|number_format(2, '.', ',')}}</td>
		</tr>
		<tr>
			<td colspan=6 align=right>Delivery Cost</td>
			<td>{% if totals.delivery == 0 %}FREE{% else %}${{totals.delivery|number_format(2, '.', ',')}}{% endif %}</td>
		</tr>
		<tr>
			<td colspan=6 align=right><b>Total</b></td>
			<td><b>${{totals.total|number_format(2, '.', ',')}}</b></td>
		</tr>
	</table>
	</center>

	{% endif %}

</body>

</html>